<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sydehealth.sydehealth">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".volley.InitializeActivity"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/app_icon"
        android:screenOrientation="sensorLandscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".utility.App_startup"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--
                    <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name=".main.Forgot_password"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <activity
            android:name=".main.AIPicViewer"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- &lt;!&ndash; -->
            <!-- <category android:name="android.intent.category.HOME" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- &ndash;&gt; -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".main.Login_activity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.Tab_activity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.Conditions_group_activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.Email_group_activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.Screenshare_group_activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.Settings_group_activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".main.Video_index_page"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.Playlist_group_activity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.CustomPlayerControlActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.Media_viewer"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".drawingview.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".screen_share.Screen_share_activity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:noHistory="true"
            android:launchMode='singleTask'/>
        <activity
            android:name=".main.Screen_saver_activity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.BaseActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service android:name=".service.ScreenShareService" />
        <service android:name=".mail_upload.Mail_service" />
        <service android:name=".mail_upload.Screenshots_service" />
        <service android:name=".mail_upload.Screenshare_screenshot_service" />
        <service android:name=".mail_upload.Video_download_service" />

        <activity
            android:name=".main.Screenshare_instruction_page"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- Firebase Notifications -->
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service
            android:name=".service.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!--
         <intent-filter>
             <action android:name="android.service.notification.NotificationListenerService" />
         </intent-filter>
        -->

        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="17455c6052be13c25db8e091ab1f0fc07c032d84" />

        <activity
            android:name=".main.User_account"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.One_time_pswd_chng"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name=".service.Screenshots_deletion_service"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyInputMethodService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/keys_layout" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name=".main.Radio_player"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".main.MyPortfolio"
            android:label="@string/title_activity_my_portfolio"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

    </application>

</manifest>